{
  "LogLevel": "debug",
  "Channel": "{{ replicated_channel }}",
  "LicenseFileLocation": "/tmp/license.rli",
  "ImportSettingsFrom": "/tmp/settings.json",
  "UiSecurityType": "3",
  "DaemonAuthenticationType": "anonymous",
  "TLSBootstrapType": "self-signed",
  "BypassPreflightChecks": true
}
