{
  "github_type": {
    "value": "{{ github_type }}"
  },
  "github_enterprise_host": {
    "value": "{{ github_host }}"
  },
  "github_client_id": {
    "value": "{{ github_clientid }}"
  },
  "github_client_secret": {
    "value": "{{ github_clientsecret }}"
  },
  "rabbitmq_password": {
    "value": "{{ rabbitmq_password }}"
  }
}
