export AWS_TAG_PREFIX=travis-enterprise
export ENVIRONMENT=dev

export AWS_KEY_NAME=[aws key name]

# use an ubuntu ami for now pretty please
export PLATFORM_AMI=ami-2d39803a

# -------------------------------
# Replicated License and settings
# -------------------------------
export REPLICATED_LICENSE=[paste in the file contents here]
export REPLICATED_DAEMON_TOKEN=[create and add] (https://www.guidgenerator.com/online-guid-generator.aspx)
export REPLICATED_ADMIN_PASSWORD=[admin ui password, make it secure]


# -----------------
# Platform settings
# -----------------
export GITHUB_TYPE=github_type_public
export GITHUB_HOST=""

export GITHUB_CLIENTID=[github oauth app key]
export GITHUB_CLIENTSECRET=[github oauth app secret]

export RABBITMQ_PASSWORD=[rabbit password, make it secure]
